.fade-in {
  animation: fadeIn ease 4s;
  -webkit-animation: fadeIn ease 4s;
  -moz-animation: fadeIn ease 4s;
  -o-animation: fadeIn ease 4s;
  -ms-animation: fadeIn ease 4s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.polaroid {
  padding-top: 25px;
  width: 350px;
  height: 275px;
  background: #FFF;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  transform: rotate(-3deg);
}

.polaroid img{
  display: block;
  margin: auto;
  width: 85%;
  border: 1.5px rgb(177, 173, 173) solid;
  /* filter: grayscale(100%); */
}

.polaroid p {
  margin-left: 6em;
}